.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 20px;
}

.grid-card {
  background-color: #6ba1d685;
  border: 1px solid #9dbee9;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.grid-card:hover {
  background-color: #e0f2fe;
}