.filmes-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.filme-card {
  border: 1px solid #cccccc85;
  border-radius: 10px;
  padding: 16px;
  width: 200px;
  background-color: #fafafa36;
  transition: transform 0.2s;
}

.filme-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn-assistir {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.btn-assistir:hover {
  background-color: #6d28d9;
}